*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    width: 150px;
    height: 150px;
}
    p{
        display: inline-block;
        height: 150px;
        width: 150px;
        line-height: 150px;
        text-align: center;
        vertical-align: middle;
    }
    .car1{
        background-color:red;
        float:left;
        text-align: center;
        vertical-align:middle;
    }
    .nav{
        background-color:beige;
        margin: 0;
        padding: 0;
        width: 200px;
        max-height:20px; 
        overflow: hidden;
        list-style: none;
    }
    .nav li{
        float: left;
        margin-left: 5px;
    }