.title{
    text-align:center;
    color: blue;
    text-shadow :2px 2px orange;
    letter-spacing: 3px;
    text-decoration:underline;
    text-transform: capitalize;
    
}
.hello{
    color:black;
    word-spacing: 3px 3px;
    text-indent:75px;
}